.App {
  text-align: center;

}
.Header {
  color: #AA7141;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

/*    <div className="character" key={char.url}>
  <h1 className="name">{char.name}</h1>
  <p className="height">Height: {char.height}cm</p>
  <p className="weight">Weight: {char.mass}kg</p>
  <p className="birth_year">Birth Year: {char.birth_year}</p>
</div>
            
  */
  .containerDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
  .character {
    background: #CDCBC6;
    
    color: #482717;
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
    width: 30%;
  }
  .character p {
    color: #AA7141;
  }