.App {
  text-align: center;

}
.Header {
  color: #AA7141;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */


 .button {
   background: #C69E71;
   color: #482717;
   font-family: 'Bangers', cursive;
   height: 45px;
   width: 200px;
   margin: 0 5px;
   border-radius: 20px;
   font-size: 20px;
 }