.containerDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.character {
    background: #CDCBC6;
    
    color: #482717;
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
    width: 30%;
  }
  
.character p {
    color: #AA7141;
  }